
.container {

  display: flex;
  height: 60vh;
  width: 90vh;
}

.grid {

  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px 10px;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}

#cell-1 {
  background: deepskyblue;
}
#cell-2 {
  background: orangered;
}
#cell-3 {
  background: royalblue;
}
#cell-4 {
  background: gold;
}
#cell-5 {
  background: blueviolet;
}
#cell-6 {
  background: limegreen;
}
#cell-7 {
  background: coral;
}
#cell-8 {
  background: #e0d6ba;
}
#cell-9 {
  background: maroon;
}

.sidebar {
  display: grid;
  height: fit-content;
  margin: 2rem;
}

.sidebar button {
  font-size: 20px;
  margin: 1rem;
  padding: 5px;
  width: 20vh;
}